.title {
  display: flex;
  justify-content: center;
}

.categories-container {
  display: flex;
  justify-content: center;
}
.category-card {
  margin: 8px;
  padding: 8px;
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}