<div class="container">
    <div class="top-left">
        <app-exit-game></app-exit-game>
    </div>
    <div class="top-right">
        <app-current-points [currentPoints]="currentPoints"></app-current-points>
        <app-timer  *ngIf="choosenCategory && choosenCategory.words.length >= 5 && !gameEnd" [duration]="gameDuration" (reportTimeLeft)="onTimeLeft($event)"></app-timer>
    </div>
    <div class="centered">
        <h1>Matching Game - {{ choosenCategory?.name }}</h1>
    </div>
    <div *ngIf="choosenCategory && choosenCategory.words.length < 5">
        <p>To play this game, the category must have at least 5 words</p>
        <button mat-raised-button mat-dialog-close color="primary" (click)="navigateToLetsPlay()">Change
            Category</button>
    </div>
    <div *ngIf="choosenCategory && choosenCategory.words.length >= 5  && successes !== 5 && !gameEnd">
        <div class="row">
            <div class="col-md-6">
                <!-- First column -->
                <div class="row">
                    <div class="col-6" *ngFor="let card of fiveRandomPairCards; let i = index">
                        <app-word-display [word]="card.origin" [status]="sourceWordStatuses[i]"
                            (cardClicked)="handleCardClicked(i, 'source')"></app-word-display>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Second column -->
                <div class="row">
                    <div class="col-6" *ngFor="let target of targetWords; let i = index">
                        <app-word-display [word]="target" [status]="targetWordStatuses[i]"
                            (cardClicked)="handleCardClicked(i, 'target')"></app-word-display>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="gameEnd">
            <p>Number of Attempts: {{ attempts }}</p>
            <p>Current Points: {{ currentPoints }}</p>
            <div *ngFor="let pair of fiveRandomPairCards">
            <p>origin: {{pair.origin}}  target:{{pair.target}}</p>
            </div>
    </div>
</div>