<h2>Choose Game To Play</h2>
<mat-form-field>
  <mat-label>Select Game</mat-label>
  <mat-select [(ngModel)]="selectedGame" (selectionChange)="onGameSelectionChange()">
    <mat-option *ngFor="let game of gameList" [value]="game">{{ game.name }}</mat-option>
  </mat-select>
</mat-form-field>
<p *ngIf="selectedGame">Difficulty: {{ selectedGame.difficulty }}</p>
<p *ngIf="selectedGame">Description: {{ selectedGame.description }}</p>
<button mat-raised-button color="primary" (click)="playGame()" [disabled]="!selectedGame">Play</button>
