:host {
  display: block;
}

.categories-container {
  display: flex;
  justify-content: center;
}

.card-container {
  min-height: 68px;
  padding: 20px;
  margin: 10px;
  background-color: white;
  color: #3f51b5;
  text-align: center;
}

h1{
  text-align: center;
}