<h1>You're learning</h1>
<div class="categories-container">
    <mat-card class="card-container">
        <mat-card-title>
            Total Points
        </mat-card-title>
        <mat-card-content>
            <div>
                {{ totalPoints }}
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-container">
        <mat-card-title>
            Total Games Played
        </mat-card-title>
        <mat-card-content>
            <div>
                {{ totalGamesPlayed }}
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-container">
        <mat-card-title>
            Total Categories Learned
        </mat-card-title>
        <mat-card-content>
            <div>
                {{ totalCategoriesLearned }}
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-container">
        <mat-card-title>
            Total Categories Not Learned
        </mat-card-title>
        <mat-card-content>
            <div>
                {{ totalCategoriesNotLearned }}
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-container">
        <mat-card-title>
            Average Game Duration
        </mat-card-title>
        <mat-card-content>
            <div>
                {{ averageGameDuration | number: '1.0-2' }} seconds
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-container">
        <mat-card-title>
            Total Play Time
        </mat-card-title>
        <mat-card-content>
            <div>
                {{ totalPlayTime | number: '1.0-0' }} seconds
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-container">
        <mat-card-title>
            Percentage of Games Ended on Time
        </mat-card-title>
        <mat-card-content>
            <div>
                {{ percentageGamesEndedOnTime | number: '1.0-2' }}%
            </div>
        </mat-card-content>
    </mat-card>
</div>